<% title "SECC | Revenue Blocks" %>
<h3>Revenue | Manage | Revenue Blocks</h3>

<% content_for :left_panel do %>
    <td valign="top" width="250"> <%= render 'common/search' %>
      <%= render 'recent' %> </td>
<% end %>
<div class="help_text">
  Area for managing Revenue Block. <br/>
  Along with creating, managing and removing Revenue Blocks for Application.
</div>
<div class="link_buttons">
  <%= link_to content_tag(:span, 'New Revenue Block'), new_revenue_block_path, :class => 'btn-blue' if permitted_to? :create %>
  <%= link_to content_tag(:span, 'Export'), export_revenue_blocks_path, :class => 'btn-yellow' %>
  <%= link_to content_tag(:span, 'Home'), homes_url, :class => 'btn-yellow' %>
</div>

<% if @revenue_blocks.blank? %>
    <div class="error_msg">
      OOPS!.. No Revenue Blocks are Found in the System..!
    </div>
<% else %>
    <table width="100%">
      <tr>
        <td align="right">
          <b><i>per page</i></b>
          <%= per_page %>| <%= page_entries_info @revenue_blocks %>
        </td>
      </tr>
    </table>
    <table class="tablesorter">
      <thead>
      <tr>
        <th>SNo</th>
        <th>Name</th>
        <th>State</th>
        <th>District</th>
        <th>Reference No</th>
        <th>Reference Name</th>
        <th>Panchayats</th>
        <th>E-Blocks</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <% i=1 %>
      <% @revenue_blocks.each do |rb| %>
          <tr>
            <td><%= i %></td>
            <td><%= highlight(rb.name, params[:search]) %></td>
            <td><%= rb.state.name + " (" + rb.state.reference_number.to_s + ")" %></td>
            <td><%= rb.district.name + " (" + "%02d"%rb.district.reference_number.to_s + ")" %></td>
            <td><%= "%03d"%rb.reference_number.to_s %></td>
            <td><%= rb.reference_name %></td>
            <td><%= link_to rb.panchayats.size, "#", :class => 'tipTipRight', :title => associated_names(rb.panchayats) %></td>
            <td><%= link_to rb.enumeration_blocks.size, "#", :class => 'tipTipRight', :title => enumeration_block_list(rb.enumeration_blocks) %></td>
            <td>
              <%= link_for_show_pop(rb) %>
              <%# link_for_edit(edit_revenue_block_path(rb)) %>
            </td>
          </tr>
          <% i = i + 1 %>
      <% end %>
      </tbody>
    </table>
    <div class="flickr_pagination">
      <%= page_entries_info @revenue_blocks %> <%= will_paginate @revenue_blocks, :container => false %>
    </div>
<% end %>








