<% title "SECC | Revenue Blocks" %>
<% content_for :sub_heading do %>
    <%= sub_heading('SECC | Revenue Block ', "Revenue Block Details") %>
<% end %>
<div class="formbox">
  <div class="desc"><b>Name</b> :  <%= @revenue_block.name %></div>
  <div class="divider"></div>
  <div class="desc"><b>State Name</b> :  <%= @revenue_block.state.name %></div>
  <div class="divider"></div>
  <div class="desc"><b>District Name</b> :  <%= @revenue_block.district.name %></div>
  <div class="divider"></div>
  <div class="desc"><b>Reference Code</b> : <%= @revenue_block.reference_number %> </div>
  <div class="divider"></div>
  <div class="desc"><b>Reference Name</b> : <%= @revenue_block.reference_name %> </div>
  <div class="divider"></div>
  <div class="desc"><b>Description</b> : <%= @revenue_block.description %> </div>
</div>

