<div class="form-container">
  <p class="legend">
    <strong>Note:</strong>
    Required fields are marked with an asterisk (<em>*</em>)
  </p>
  <%= simple_form_for(@user, :validate => true,:url=>url_for(:action=>:profile_update)) do |f| %>
      <fieldset>
        <%= f.error_messages %>
        <%= f.input :login,:label=>"Login Name", :disabled => true%>
        <%= f.input :name, :label=>"Name", :placeholder=>"Full Name", :disabled => true %>
        <%= f.input :father_name, :label=>"Father Name",:placeholder=>"Father Name" %>
        <%= f.input :email, :label=>"Email",:placeholder=>"user@example.com"%>
        <%= f.input :gender, :collection => [:Male, :Female],:prompt=>"Select Gender" %>
        <%= f.input :dob, :label=>"DOB", :as => :date, :start_year => Date.today.year,
                    :end_year => Date.today.year - 60,
                    :order => [:day, :month, :year] %>
        <%= f.input :address1, :label=>"Address", :placeholder=>"Address" %>
        <%= f.input :address2, :label=>"Address",:placeholder=>"Address" %>
        <%= f.input :place, :label=>"Place",:placeholder=>"Village / Town Name" %>
        <%= f.input :pin, :label=>"PIN", :placeholder=>"PIN code Must be 6 Digits" %>
        <%= f.input :mobile_number, :label=>"Mobile", :placeholder=>"Mobile Number Must be 10 Digits" %>
        <%= f.input :phone_number, :label=>"Land Phone",:placeholder=>"Phone Number" %>
        <%= f.submit 'Update Profile', :disable_with=>'Please wait...' %>
      </fieldset>
  <% end %>
  <br/>
  <%= link_to content_tag(:span, 'Back to Profile'), profile_user_path(current_user), :class => 'btn-blue' %>
  <%= link_to content_tag(:span, 'Change Password'), change_password_user_path(current_user), :class => 'btn-blue' %>
  <br/>
</div>