<% title "SECC | States" %>

<h3><%= t :secc%> | <%= t :states %> | <%= t :manage %></h3>
<% content_for :left_panel do %>
    <td valign="top" width="250"> <%= render 'common/search' %>
      <%= render 'recent' %> </td>
<% end %>

<div class="help_text">
  Area for managing States. <br/>
  Along with creating, managing and removing States for Application.
</div>
<div>
  <%= link_to ((t :create_new) + ' ' + (t :states) ), "#", :class=>'usuallink bold_text', :id=>'add_new' %>
</div>
<div id="new_form">
  <%= render 'form' %>
</div>
<% if @states.blank? %>
    <div class="error_msg">
      OOPS!.. No States are Found in the System..!
    </div>
<% else %>
    <table class="tablesorter">
      <thead>
      <tr>
        <th>SNo</th>
        <th>Name</th>
        <th>Reference Number</th>
        <th>Reference Name</th>
        <th>Description</th>
        <th>Created By</th>
        <th>Created On</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <% i=1 %>
      <% @states.each do |state| %>
          <tr>
            <td><%= i %></td>
            <td><%= state.name %></td>
            <td><%= state.reference_number %></td>
            <td><%= state.reference_name %></td>
            <td><%= state.description %></td>
            <td><%= state.created_by %></td>
            <td><%= state.created_at.strftime('%d-%b-%Y') %></td>
            <td>
              <%= link_for_show_pop(state) %>
              <%= link_for_edit(edit_state_path(state)) %>

            </td>
          </tr>
          <% i = i + 1 %>
      <% end %>
      </tbody>
    </table>
<% end %>




