<% title "SECC | States" %>
<h3><%= t :secc%> | <%= t :states %> | <%= t :manage %></h3>
<% content_for :left_panel do %>
    <td valign="top" width="250"> <%= render 'common/search' %>
      <%= render 'recent' %> </td>
<% end %>
<div class="help_text">
  Area for managing States. <br/>
  Along with creating, managing and removing States for Application.
</div>
<%#link_to ((t :create_new) + ' ' + (t :states) ), "#", :class=>'usuallink bold_text', :id=>'add_new' %>
<div class="link_buttons">
  <%= link_to content_tag(:span, 'New State'), new_state_path, :class => 'btn-blue' if permitted_to? :create %>
  <%= link_to content_tag(:span, 'Export'), export_states_path, :class => 'btn-yellow' %>
  <%= link_to content_tag(:span, 'Home'), homes_url, :class => 'btn-yellow' %>
</div>
<!--
<div id="new_form">
  <%#render 'form' %>
</div>
-->
<% if @states.blank? %>
    <div class="error_msg">
      OOPS!.. No States are Found in the System..!
    </div>
<% else %>
    <table class="tablesorter">
      <thead>
      <tr>
        <th>SNo</th>
        <th>Name</th>
        <th>Reference Number</th>
        <th>Reference Name</th>
        <th>Districts</th>
        <th>R-Blocks</th>
        <th>Panchayats</th>
        <th>E-Blocks</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <% i=1 %>
      <% @states.each do |state| %>
          <tr>
            <td><%= i %></td>
            <td><%= highlight(state.name.titleize,params[:search]) %></td>
            <td><%= "%02d"%state.reference_number %></td>
            <td><%= state.reference_name %></td>
            <td><%= link_to state.districts.size, districts_path, :class => 'tipTipRight', :title => associated_names(state.districts) %></td>
            <td><%= link_to state.revenue_blocks.size, revenue_blocks_path, :class => 'tipTipRight', :title => associated_names(state.revenue_blocks) %></td>
            <td><%= link_to state.panchayats.size, panchayats_path, :class => 'tipTipRight', :title => associated_names(state.panchayats) %></td>
            <td><%= link_to state.enumeration_blocks.size, enumeration_blocks_path, :class => 'tipTipRight', :title => enumeration_block_list(state.enumeration_blocks) %></td>
            <td>
              <%= link_for_show_pop(state) %>
            </td>
          </tr>
          <% i = i + 1 %>
      <% end %>
      </tbody>
    </table>
<% end %>




