<% title "SECC | State" %>
<% content_for :sub_heading do %>
    <%= sub_heading('SECC | States ', "State Details") %>
<% end %>
<div class="formbox">
  <div class="desc"><b>Name</b> :  <%= @state.name %></div>
  <div class="divider"></div>
  <div class="desc"><b>Reference Code</b> : <%= @state.reference_number %> </div>
  <div class="divider"></div>
  <div class="desc"><b>Reference Name</b> : <%= @state.reference_name %> </div>
  <div class="divider"></div>
  <div class="desc"><b>Description</b> : <%= @state.description %> </div>
</div>
