<h3>SECC | Enumeration Status Report of <%= get_district_name(params[:id]) %> | Revenue Block - <%= get_rb_name(params[:id]) %> <br/>
Date:<%= Date.today.strftime("%d-%m-%Y") %>
</h3>

<% if @enumeration_blocks.blank? %>
    <div class="error_msg">
      OOPS!.. No Enumeration Blocks are Found in the System..!
    </div>
<% else %>
    <table class="tablesorter">
      <thead>
      <tr>
        <th>#</th>
        <th>Panchayat</th>
        <th>EB#</th>
        <th>Sub EB</th>
        <th>Houses</th>
        <th>Citizens</th>
        <th>Catalog</th>
        <th>Enumeration</th>
        <th>E-NIC</th>
        <th>Supervising</th>
        <th>S-NIC</th>
        <th>Draft</th>
        <th>Edit</th>
        <th>Final</th>
      </tr>
      </thead>
      <tbody>
      <% i=1 %>
      <% @enumeration_blocks.each do |eb| %>
          <tr>
            <td><%= i %></td>
            <td><%= eb.panchayat_id? ? eb.panchayat.name : "" %></td>
            <td><%= eb.reference_number %></td>
            <td><%= eb.sub_enumeration_number %></td>
            <td><%= eb.number_of_houses %></td>
            <td><%= eb.number_of_citizens %></td>
            <td><%= eb.catalog_status %></td>
            <td><%= eb.enumeration_status %></td>
            <td><%= eb.enu_nic_upload_status %></td>
            <td><%= eb.supervising_status %></td>
            <td><%= eb.super_nic_upload_status %></td>
            <td><%= eb.draft_list_status %></td>
            <td><%= eb.draft_list_edit_status %></td>
            <td><%= eb.final_list_status %></td>
          </tr>
          <% i = i + 1 %>
      <% end %>
      </tbody>
    </table>
<% end %>










