<% title "SECC | Enumeration Blocks" %>
<h3>SECC | Manage | Enumeration Blocks</h3>

<% content_for :left_panel do %>
    <td valign="top" width="250"> <%= render 'common/search' %>
      <%= render 'recent' %> </td>
<% end %>
<div class="help_text">
  Area for managing Enumeration Blocks. <br/>
  Along with creating, managing and removing Enumeration Blocks for Application.
</div>
<div>
  <%= link_to "Create New Enumeration Block", "#", :class=>'usuallink bold_text', :id=>'add_new' %>
</div>
<div id="new_form">
  <%= render 'form' %>
</div>
<% if @enumeration_blocks.blank? %>
    <div class="error_msg">
      OOPS!.. No Enumeration Blocks are Found in the System..!
    </div>
<% else %>
    <table width="100%">
      <tr>
        <td align="right">
          <b><i>per page</i></b>
          <%= per_page %>| <%= page_entries_info @enumeration_blocks %>
        </td>
      </tr>
    </table>
    <table class="tablesorter">
      <thead>
      <tr>
        <th>SNo</th>
        <th>Name</th>
        <th>Sub EB's</th>
        <th>Houses</th>
        <th>Citizens</th>
        <th>Panchayat</th>
        <th>Description</th>
        <th>Reference No</th>
        <th>Reference Name</th>
        <th>Created By</th>
        <th>Created On</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <% i=1 %>
      <% @enumeration_blocks.each do |eb| %>
          <tr>
            <td><%= i %></td>
            <td><%= eb.name %></td>
            <td></td>
            <td><%= eb.number_of_houses %></td>
            <td><%= eb.number_of_citizens %></td>
            <td><%= eb.panchayat.name + " (" + eb.panchayat.reference_number.to_s + ")" %></td>
            <td><%= eb.description %></td>
            <td><%= eb.reference_number %></td>
            <td><%= eb.reference_name %></td>
            <td><%= created_by(eb.created_by)%></td>
            <td><%= eb.created_at.strftime('%d-%b-%Y') %></td>
            <td>
              <%= link_for_show_pop(eb) %>
              <%= link_for_edit(edit_enumeration_block_path(eb)) %>
            </td>
          </tr>
          <% i = i + 1 %>
      <% end %>
      </tbody>
    </table>
    <div class="flickr_pagination">
      <%= page_entries_info @enumeration_blocks %> <%= will_paginate @enumeration_blocks, :container => false %>
    </div>
<% end %>










