<% title "VEDAVAAG | SECC | Enumeration Blocks" %>
<h3>VEDAVAAG | SECC | Status Report | Enumeration Blocks</h3>

<div class="help_text">
  * Area for managing Enumeration Blocks Status. <br/>
  * Codes: <b>E-NIC</b> - Enumeration NIC Upload, <b>S-NIC</b> - Supervising NIC Upload Status, <b>Draft</b> - Draft
  Print List,
  <b>Edit</b> - Draft List Modification Status and <b>Final</b> - Final List
</div>
<div id="container">
  <div class="link_buttons">
    <%= link_to content_tag(:span, 'View Consolidated Report'), {:action => :status_report, :controller => :enumeration_blocks, :id => (current_user.user_profile.blank? ? params[:id] : current_user.user_profile.revenue_block_id)}, :class => 'btn-yellow', :rel => "facebox" %>
    <%= link_to content_tag(:span, 'Download Consolidated Report'), {:action => :status_report_export, :controller => :enumeration_blocks, :id => (current_user.user_profile.blank? ? params[:id] : current_user.user_profile.revenue_block_id)}, :class => 'btn-yellow' %>
    <%= link_to content_tag(:span, 'Download Status Report'), "#", :class => 'btn-yellow' %>
    <%= link_to content_tag(:span, 'Home'), homes_url, :class => 'btn-yellow' %>
  </div>
</div>
<br/>
<% if @enumeration_blocks.blank? %>
    <div class="error_msg">
      OOPS!.. No Enumeration Blocks are Found in the System..!
    </div>
<% else %>
    <table class="tablesorter">
      <thead>
      <tr>
        <th>SNo</th>
        <th>Status</th>
        <th>Panchayat</th>
        <th>EB#</th>
        <th>Sub EB</th>
        <th>Houses</th>
        <th>Citizens</th>
        <th>Catalog</th>
        <th>Enumeration</th>
        <th>E-NIC</th>
        <th>Supervising</th>
        <th>S-NIC</th>
        <th>Draft</th>
        <th>Edit</th>
        <th>Final</th>
        <th>Remarks</th>
        <% if permitted_to? :update_status %>
            <th>Actions</th>
        <% end %>
      </tr>
      </thead>
      <tbody>
      <% i=1 %>
      <% @enumeration_blocks.each do |eb| %>
          <tr>
            <td><%= i %></td>
            <td>
              <div id="report_status_<%= eb.id %>">
                <%= link_to eb.report_status? ? image_tag('tick.gif') : image_tag('cross.gif'), approve_enumeration_block_path(eb), :remote => true %>
              </div>
            </td>
            <td><%= eb.panchayat.name + " (" + eb.panchayat.reference_number.to_s + ")" %></td>
            <td><%= eb.reference_number %></td>
            <td><%= eb.sub_enumeration_number %></td>
            <td><%= eb.number_of_houses %></td>
            <td><%= eb.number_of_citizens %></td>
            <td><%= eb.catalog_status %></td>
            <td><%= eb.enumeration_status %></td>
            <td><%= eb.enu_nic_upload_status %></td>
            <td><%= eb.supervising_status %></td>
            <td><%= eb.super_nic_upload_status %></td>
            <td><%= eb.draft_list_status %></td>
            <td><%= eb.draft_list_edit_status %></td>
            <td><%= eb.final_list_status %></td>
            <td><%= eb.remarks? ? (link_to "View", remarks_enumeration_block_path(eb), :rel => "facebox", :class => "usuallink") : '' %></td>
            <% if permitted_to? :update_status %>
                <td>
                  <%= link_to "Update", update_status_enumeration_block_path(eb), :class => 'usuallink bold_text', :rel => "facebox" %>
                </td>
            <% end %>
          </tr>
          <% i = i + 1 %>
      <% end %>
      </tbody>
    </table>
<% end %>










