<% title "SECC | Enumeration Block" %>
<% content_for :sub_heading do %>
    <%= sub_heading('SECC | Enumeration Blocks ', "Enumeration Block Details") %>
<% end %>
<div class="formbox">
  <div class="desc"><b>Enumeration Block number</b> : <%= @enumeration_block.reference_number %> </div>
  <div class="divider"></div>
  <div class="desc"><b>Sub EB Number</b> : <%= @enumeration_block.sub_enumeration_number %> </div>
  <div class="divider"></div>
  <div class="desc"><b>Number of House Holds</b> : <%= @enumeration_block.number_of_houses %> </div>
  <div class="divider"></div>
  <div class="desc"><b>Number of Citizens</b> : <%= @enumeration_block.number_of_citizens %> </div>
</div>
