<% title "SECC | Enumeration Block" %>
<div id="page_container">
  <div id="page_content">
    <div class="content">
      <h3>Enumeration Block | View Enumeration Block Details</h3>

      <table width="100%" border=0 cellspacing=1 cellpadding=3 class="listTable">
        <tr>
          <th width="20%">Reference Code</th>
          <td><%=@enumeration_block.reference_number %></td>
        </tr>
        <tr>
          <th width="20%">Sub EB</th>
          <td><%= @enumeration_block.sub_enumeration_number %></td>
        </tr>
        <tr>
          <th width="20%">House Holds</th>
          <td><%= @enumeration_block.number_of_houses %></td>
        </tr>
        <tr>
          <th width="20%">Citizens</th>
          <td><%= @enumeration_block.number_of_citizens %></td>
        </tr>
        <tr>
          <th width="20%">Revenue Block</th>
          <td><%= @enumeration_block.revenue_block.name %></td>
        </tr>
      </table>
    </div>
  </div>
</div>


