<% title "SECC | Districts" %>
<h3><%= t :secc%> | <%= t :districts %> | </h3>
<% content_for :left_panel do %>
    <td valign="top" width="250"> <%= render 'common/search' %>
      <%= render 'recent' %> </td>
<% end %>
<div class="help_text">
  Area for managing <%= t :districts %>. <br/>
  Along with creating, managing and removing Districts for Application.
</div>
<div>
  <%= link_to "Create New District", "#", :class=>'usuallink bold_text', :id=>'add_new' %>
</div>
<div id="new_form">
  <%= render 'form' %>
</div>
<% if @districts.blank? %>
    <div class="error_msg">
      OOPS!.. No Districts are Found in the System..!
    </div>
<% else %>
    <table class="tablesorter">
      <thead>
      <tr>
        <th>SNo</th>
        <th>Name</th>
        <th>State</th>
        <th>Reference Number</th>
        <th>Revenue Blocks</th>
        <th>Panchayats</th>
        <th>Enumeration Blocks</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <% i=1 %>
      <% @districts.each do |district| %>
          <tr>
            <td><%= i %></td>
            <td><%= highlight(district.name,params[:search]) %></td>
            <td><%= district.state.name %></td>
            <td><%=  "%02d"%district.reference_number.to_s%></td>
            <td><%= link_to district.revenue_blocks.size,"#",:class=>'tipTipRight',:title=>associated_names(district.revenue_blocks) %></td>
            <td><%= link_to district.panchayats.size,"#",:class=>'tipTipRight',:title=>associated_names(district.panchayats) %></td>
            <td><%= link_to district.enumeration_blocks.size,"#",:class=>'tipTipRight',:title=>enumeration_block_list(district.enumeration_blocks) %></td>
            <td>
              <%= link_for_show_pop(district) %>
              <%# link_for_edit(edit_district_path(district)) %>

            </td>
          </tr>
          <% i = i + 1 %>
      <% end %>
      </tbody>
    </table>
<% end %>






