<% title "SECC | Districts" %>
<h3><%= t :secc%> | <%= t :districts %> | </h3>
<% content_for :left_panel do %>
    <td valign="top" width="250"> <%= render 'common/search' %>
      <%= render 'recent' %> </td>
<% end %>
<div class="help_text">
  Area for managing <%= t :districts %>. <br/>
  Along with creating, managing and removing Districts for Application.
</div>
<div>
  <%= link_to "Create New District", "#", :class=>'usuallink bold_text', :id=>'add_new' %>
</div>
<div id="new_form">
  <%= render 'form' %>
</div>
<% if @districts.blank? %>
    <div class="error_msg">
      OOPS!.. No Districts are Found in the System..!
    </div>
<% else %>
    <table class="tablesorter">
      <thead>
      <tr>
        <th>SNo</th>
        <th>Name</th>
        <th>State</th>
        <th>Reference Number</th>
        <th>Reference Name</th>
        <th>Description</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <% i=1 %>
      <% @districts.each do |district| %>
          <tr>
            <td><%= i %></td>
            <td><%= district.name %></td>
            <td><%= district.state.name %></td>
            <td><%= district.reference_number %></td>
            <td><%= district.reference_name %></td>
            <td><%= district.description %></td>
            <td>
              <%= link_for_show(district) %>
              <%= link_for_edit(edit_district_path(district)) %>

            </td>
          </tr>
          <% i = i + 1 %>
      <% end %>
      </tbody>
    </table>
<% end %>






