<% title "SECC | Districts" %>
<% content_for :sub_heading do %>
    <%= sub_heading('SECC | Districts ', "District Details") %>
<% end %>
<div class="formbox">
  <div class="desc"><b>Name</b> :  <%= @district.name %></div>
  <div class="divider"></div>
  <div class="desc"><b>State Name</b> :  <%= @district.state.name %></div>
  <div class="divider"></div>
  <div class="desc"><b>Reference Code</b> : <%= @district.reference_number %> </div>
  <div class="divider"></div>
  <div class="desc"><b>Reference Name</b> : <%= @district.reference_name %> </div>
  <div class="divider"></div>
  <div class="desc"><b>Description</b> : <%= @district.description %> </div>
</div>
