<% title "VEDAVAAG | SECC | Panchayats" %>
<h3>VEDAVAAG | SECC | Manage | Panchayats</h3>

<% content_for :left_panel do %>
    <td valign="top" width="250"> <%= render 'common/search' %>
      <%= render 'recent' %> </td>
<% end %>
<div class="help_text">
* Area for managing Panchayats. <br/>
* Along with creating, managing Panchayats for Application.
</div>
<div class="link_buttons">
  <%= link_to content_tag(:span, 'New Panchayat'), new_panchayat_path, :class => 'btn-blue'if permitted_to? :create %>
  <%= link_to content_tag(:span, 'Export'), export_panchayats_path, :class => 'btn-yellow' if permitted_to? :export %>
  <%= link_to content_tag(:span, 'Home'), homes_url, :class => 'btn-yellow' %>
</div>

<% if @panchayats.blank? %>
    <div class="error_msg">
      OOPS!.. No Panchayats are Found for this Revenue Block ....!
    </div>
<% else %>
    <table width="100%">
      <tr>
        <td align="right">
          <b><i>per page</i></b>
          <%= per_page %>| <%= page_entries_info @panchayats %>
        </td>
      </tr>
    </table>
    <table class="tablesorter">
      <thead>
      <tr>
        <th>SNo</th>
        <th>Name</th>
        <th>Reference No</th>
        <th>Reference Name</th>
        <th>State</th>
        <th>District</th>
        <th>RBlock</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <% i=1 %>
      <% @panchayats.each do |panchayat| %>
          <tr>
            <td><%= i %></td>
            <td><%= highlight(panchayat.name, params[:search]) %></td>
            <td><%= panchayat.reference_number %></td>
            <td><%= panchayat.reference_name %></td>
            <td><%= panchayat.state.name + " (" + panchayat.state.reference_number.to_s + ")" %></td>
            <td><%= panchayat.district.name + " (" + panchayat.district.reference_number.to_s + ")" %></td>
            <td><%= panchayat.revenue_block.name + " (" +  "%03d"%panchayat.revenue_block.reference_number.to_s + ")" %></td>
            <td>
              <%= link_for_show_pop(panchayat) %>
            </td>
          </tr>
          <% i = i + 1 %>
      <% end %>
      </tbody>
    </table>
    <div class="flickr_pagination">
      <%= page_entries_info @panchayats %> <%= will_paginate @panchayats, :container => false %>
    </div>
<% end %>









