<% title "VEDAVAAG | SECC | Panchayats" %>
<div id="page_container">
  <div id="page_content">
    <div class="content">
      <h3>VEDAVAAG | SECC | Panchayats | View Panchayat Details</h3>

      <table width="100%" border=0 cellspacing=1 cellpadding=3 class="listTable">
        <tr>
          <th width="20%">Name</th>
          <td><%= @panchayat.name %></td>
        </tr>
        <tr>
          <th width="20%">Reference Code</th>
          <td><%=@panchayat.reference_number %></td>
        </tr>
        <tr>
          <th width="20%">Reference Name</th>
          <td><%= @panchayat.reference_name %></td>
        </tr>
        <tr>
          <th width="20%">State</th>
          <td><%= @panchayat.state.name %></td>
        </tr>
        <tr>
          <th width="20%">District Name</th>
          <td><%= @panchayat.district.name %></td>
        </tr>
        <tr>
          <th width="20%">Revenue Block</th>
          <td><%= @panchayat.revenue_block.name %></td>
        </tr>
      </table>
    </div>
  </div>
</div>


