<div class="form-container-1">
  <%= form_for(@upload, :html => {:multipart => true}) do |f| %>
      <p class="legend">
        <strong>Note:</strong>
        Required fields are marked with an asterisk (<em>*</em>)
      </p>
      <fieldset>
        <%= f.error_messages %>
        <div>
          <label for="name">
            Date: <em>*</em>
          </label>
          <%= f.text_field :date,:size=>20,:id=>"date",:value=>Time.now.strftime('%d-%m-%Y') %>
        </div>
        <div>
          <label for="pin">
            Upload Daily Summary Report File: <em>*</em>
          </label>
          <%= f.file_field :dsr,:id=>"dsr"%>
          <script type="text/javascript">
              var dsr = new LiveValidation('dsr', {
                  onlyOnSubmit: true
              });
              dsr.add(Validate.Presence)
          </script>

        </div>
        <div>
          <label for="name">
            Description:
          </label>
          <%= f.text_area :dsr_description, :cols=>20, :rows=>2 %>
        </div>


        <div>
          <label for="pin">
            Upload Data Entry Daily Report File: <em>*</em>
          </label>
          <%= f.file_field :der,:id=>"der" %>
          <script type="text/javascript">
              var der = new LiveValidation('der', {
                  onlyOnSubmit: true
              });
              der.add(Validate.Presence)
          </script>

        </div>
        <div>
          <label for="name">
            Description:
          </label>
          <%= f.text_area :der_description, :cols=>20, :rows=>2 %>
        </div>

        <div class="actions">
          <%= f.submit "Upload", :class=>"btnEdit" %>
        </div>
      </fieldset>
  <% end %>
</div>
<script>
    $(function () {
        $("#date").datepicker({dateFormat:'dd-mm-yy', maxDate:0, minDate:-1 });
    });
</script>