<ul class="page_menu">
    <li><%= tab_heading 'Dashboard' %>
    <ul>
      <li>
        <%= link_to 'Users', users_path,:class=>"tipTip1",:title=>"Manage Users" %>
      </li>
      <li>
        <%= link_to 'Panchayat', panchayats_path,:class=>"tipTip1",:title=>"Manage Panchayats" %>
      </li>
      <li>
        <%= link_to 'Enumeration Blocks', enumeration_blocks_path,:class=>"tipTip1",:title=>"Manage EBlocks" %>
      </li>
    </ul>
  </li>
  <li><%= tab_heading 'Attendance' %>
    <ul>
      <li>
        <%= link_to 'Manage Attendance', attendances_path ,:class=>"tipTip1",:title=>"Attendance" %>
      </li>
    </ul>
  </li>
</ul>

