<ul class="page_menu">
    <li><%= tab_heading 'Dashboard' %>
    <ul>
      <li>
        <%= link_to 'States', states_path,:class=>"tipTip1",:title=>"Manage States" %>
      </li>
<!--
      <li>
        <%= link_to 'Divisions', divisions_path,:class=>"tipTip1",:title=>"Manage Divisions" %>
      </li>
-->
      <li>
        <%= link_to 'Districts', districts_path,:class=>"tipTip1",:title=>"Manage Districts" %>
      </li>
      <li>
        <%= link_to 'Revenue Blocks', revenue_blocks_path,:class=>"tipTip1",:title=>"Manage Districts" %>
      </li>
      <li>
        <%= link_to 'Roles', roles_path,:class=>"tipTip1",:title=>"Manage Districts" %>
      </li>
      <li>
        <%= link_to 'Users', users_path,:class=>"tipTip1",:title=>"Manage Districts" %>
      </li>
    </ul>
  </li>
</ul>

