<% title "VEDAVAAG | SECC | AHL " %>
<h3>VEDAVAAG | SECC | Manage | AHL Report -  <%= @attendances.blank? ? "" : @attendances.first.revenue_block.name %></h3>


<div class="help_text">
  Area for managing AHL Report of Revenue Block. <br/>
</div>
<div class="link_buttons">
  <%= link_to content_tag(:span, 'Create AHL Report'), new_attendance_path, :class => 'btn-blue' if permitted_to? :create %>
  <%= link_to content_tag(:span, 'Home'), homes_url, :class => 'btn-blue' %>
</div>

<% if @attendances.blank? %>
    <div class="error_msg">
      OOPS!.. No Attendance Reports are Found for Revenue Block ...!
    </div>
<% else %>
    <table class="tablesorter">
      <thead>
      <tr>
        <th>SNo</th>
        <th>Status</th>
        <th>Date</th>
        <th>Created By</th>
        <th>Approved By</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <% i=1 %>
      <% @attendances.each do |attendance| %>
          <tr>
            <td><%= i %></td>
            <td>
              <div id="status_<%= attendance.id %>">
                <%= link_to attendance.status? ? image_tag('tick.gif') : image_tag('cross.gif'), approve_attendance_path(attendance), :remote => true %>
              </div>
            </td>
            <td><%= attendance.date.strftime("%d-%m-%Y") %></td>
            <td><%= User.where(:id => attendance.created_by).first.name %></td>
            <td><%= attendance.modified_by? ? User.where(:id => attendance.modified_by).first.name : '---' %></td>
            <td><%= link_to "View Report", attendance, :class => 'usuallink bold_text', :rel => 'facebox' %> |
              <%= link_to "Update", "#", :class => 'usuallink bold_text' %>
            </td>
          </tr>
          <% i = i + 1 %>
      <% end %>
      </tbody>
    </table>
<% end %>











